<%= form_for @registry, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :codigo, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :codigo, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :edad, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :edad, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :genero, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :genero, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :etilogia, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :etilogia, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :frac_eyeccion, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :frac_eyeccion, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :imc, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :imc, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hemoglobina, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :hemoglobina, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :creatinina, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :creatinina, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bnp, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :bnp, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pro_bnp, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :pro_bnp, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :eac, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :eac, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :diabetes, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :diabetes, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :irc, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :irc, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :epoc, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :epoc, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :acv, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :acv, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fa, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :fa, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pas_mmhg, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :pas_mmhg, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pad_mmhg, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :pad_mmhg, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fc, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :fc, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :clase_funcional_nyha, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :clase_funcional_nyha, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :betabloqueador, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :betabloqueador, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :anticoagulacion, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :anticoagulacion, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :iecas, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :iecas, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ara_ii, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :ara_ii, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mra, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mra, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :diureticos, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :diureticos, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ivabradina, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :ivabradina, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :material_educativo, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :material_educativo, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :charla_informativa, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :charla_informativa, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :programa_seguimiento, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :programa_seguimiento, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :encargado_segiumiento, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :encargado_segiumiento, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :formato_autoseguramiento_paciente, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :formato_autoseguramiento_paciente, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :instalo_app, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :instalo_app, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lista_verificacion_medidas, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :lista_verificacion_medidas, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :betabloqueador_actual, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :betabloqueador_actual, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :betabloqueador_adherido, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :betabloqueador_adherido, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :betabloqueador_titulacion, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :betabloqueador_titulacion, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :anticoagulacion_indicada, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :anticoagulacion_indicada, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :anticoagulacion_adherido, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :anticoagulacion_adherido, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :iecas_actual, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :iecas_actual, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :iecas_adherido, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :iecas_adherido, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :iecas_titulacion, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :iecas_titulacion, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :araii_actual, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :araii_actual, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :araii_adherido, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :araii_adherido, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :araii_titulacion, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :araii_titulacion, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mra_actual, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mra_actual, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mra_adherido, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mra_adherido, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mra_titulacion, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mra_titulacion, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :diureticos_actual, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :diureticos_actual, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :diureticos_adherido, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :diureticos_adherido, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :diureticos_titulacion, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :diureticos_titulacion, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ivabradina_actual, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :ivabradina_actual, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ivabradina_adherido, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :ivabradina_adherido, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ivabradina_titulacion, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :ivabradina_titulacion, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :visita_seguimiento, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :visita_seguimiento, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :encargado_visita, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :encargado_visita, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dias_despues_alta, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :dias_despues_alta, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :llenado_formato_autoseguimiento, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :llenado_formato_autoseguimiento, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  registries_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
