<%- model_class = Registry -%>
<div class="page-header">
  <h1><%=t '.title', :default => Registry %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:codigo) %></th>
      <th><%= model_class.human_attribute_name(:edad) %></th>
      <th><%= model_class.human_attribute_name(:genero) %></th>
      <th><%= model_class.human_attribute_name(:etilogia) %></th>
      <th><%= model_class.human_attribute_name(:frac_eyeccion) %></th>
      <th><%= model_class.human_attribute_name(:imc) %></th>
      <th><%= model_class.human_attribute_name(:hemoglobina) %></th>
      <th><%= model_class.human_attribute_name(:creatinina) %></th>
      <th><%= model_class.human_attribute_name(:bnp) %></th>
      <th><%= model_class.human_attribute_name(:pro_bnp) %></th>
      <th><%= model_class.human_attribute_name(:eac) %></th>
      <th><%= model_class.human_attribute_name(:diabetes) %></th>
      <th><%= model_class.human_attribute_name(:irc) %></th>
      <th><%= model_class.human_attribute_name(:epoc) %></th>
      <th><%= model_class.human_attribute_name(:acv) %></th>
      <th><%= model_class.human_attribute_name(:fa) %></th>
      <th><%= model_class.human_attribute_name(:pas_mmhg) %></th>
      <th><%= model_class.human_attribute_name(:pad_mmhg) %></th>
      <th><%= model_class.human_attribute_name(:fc) %></th>
      <th><%= model_class.human_attribute_name(:clase_funcional_nyha) %></th>
      <th><%= model_class.human_attribute_name(:betabloqueador) %></th>
      <th><%= model_class.human_attribute_name(:anticoagulacion) %></th>
      <th><%= model_class.human_attribute_name(:iecas) %></th>
      <th><%= model_class.human_attribute_name(:ara_ii) %></th>
      <th><%= model_class.human_attribute_name(:mra) %></th>
      <th><%= model_class.human_attribute_name(:diureticos) %></th>
      <th><%= model_class.human_attribute_name(:ivabradina) %></th>
      <th><%= model_class.human_attribute_name(:material_educativo) %></th>
      <th><%= model_class.human_attribute_name(:charla_informativa) %></th>
      <th><%= model_class.human_attribute_name(:programa_seguimiento) %></th>
      <th><%= model_class.human_attribute_name(:encargado_segiumiento) %></th>
      <th><%= model_class.human_attribute_name(:formato_autoseguramiento_paciente) %></th>
      <th><%= model_class.human_attribute_name(:instalo_app) %></th>
      <th><%= model_class.human_attribute_name(:lista_verificacion_medidas) %></th>
      <th><%= model_class.human_attribute_name(:betabloqueador_actual) %></th>
      <th><%= model_class.human_attribute_name(:betabloqueador_adherido) %></th>
      <th><%= model_class.human_attribute_name(:betabloqueador_titulacion) %></th>
      <th><%= model_class.human_attribute_name(:anticoagulacion_indicada) %></th>
      <th><%= model_class.human_attribute_name(:anticoagulacion_adherido) %></th>
      <th><%= model_class.human_attribute_name(:iecas_actual) %></th>
      <th><%= model_class.human_attribute_name(:iecas_adherido) %></th>
      <th><%= model_class.human_attribute_name(:iecas_titulacion) %></th>
      <th><%= model_class.human_attribute_name(:araii_actual) %></th>
      <th><%= model_class.human_attribute_name(:araii_adherido) %></th>
      <th><%= model_class.human_attribute_name(:araii_titulacion) %></th>
      <th><%= model_class.human_attribute_name(:mra_actual) %></th>
      <th><%= model_class.human_attribute_name(:mra_adherido) %></th>
      <th><%= model_class.human_attribute_name(:mra_titulacion) %></th>
      <th><%= model_class.human_attribute_name(:diureticos_actual) %></th>
      <th><%= model_class.human_attribute_name(:diureticos_adherido) %></th>
      <th><%= model_class.human_attribute_name(:diureticos_titulacion) %></th>
      <th><%= model_class.human_attribute_name(:ivabradina_actual) %></th>
      <th><%= model_class.human_attribute_name(:ivabradina_adherido) %></th>
      <th><%= model_class.human_attribute_name(:ivabradina_titulacion) %></th>
      <th><%= model_class.human_attribute_name(:visita_seguimiento) %></th>
      <th><%= model_class.human_attribute_name(:encargado_visita) %></th>
      <th><%= model_class.human_attribute_name(:dias_despues_alta) %></th>
      <th><%= model_class.human_attribute_name(:llenado_formato_autoseguimiento) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @registries.each do |registry| %>
      <tr>
        <td><%= registry.id %></td>
        <td><%= registry.codigo %></td>
        <td><%= registry.edad %></td>
        <td><%= registry.genero %></td>
        <td><%= registry.etilogia %></td>
        <td><%= registry.frac_eyeccion %></td>
        <td><%= registry.imc %></td>
        <td><%= registry.hemoglobina %></td>
        <td><%= registry.creatinina %></td>
        <td><%= registry.bnp %></td>
        <td><%= registry.pro_bnp %></td>
        <td><%= registry.eac %></td>
        <td><%= registry.diabetes %></td>
        <td><%= registry.irc %></td>
        <td><%= registry.epoc %></td>
        <td><%= registry.acv %></td>
        <td><%= registry.fa %></td>
        <td><%= registry.pas_mmhg %></td>
        <td><%= registry.pad_mmhg %></td>
        <td><%= registry.fc %></td>
        <td><%= registry.clase_funcional_nyha %></td>
        <td><%= registry.betabloqueador %></td>
        <td><%= registry.anticoagulacion %></td>
        <td><%= registry.iecas %></td>
        <td><%= registry.ara_ii %></td>
        <td><%= registry.mra %></td>
        <td><%= registry.diureticos %></td>
        <td><%= registry.ivabradina %></td>
        <td><%= registry.material_educativo %></td>
        <td><%= registry.charla_informativa %></td>
        <td><%= registry.programa_seguimiento %></td>
        <td><%= registry.encargado_segiumiento %></td>
        <td><%= registry.formato_autoseguramiento_paciente %></td>
        <td><%= registry.instalo_app %></td>
        <td><%= registry.lista_verificacion_medidas %></td>
        <td><%= registry.betabloqueador_actual %></td>
        <td><%= registry.betabloqueador_adherido %></td>
        <td><%= registry.betabloqueador_titulacion %></td>
        <td><%= registry.anticoagulacion_indicada %></td>
        <td><%= registry.anticoagulacion_adherido %></td>
        <td><%= registry.iecas_actual %></td>
        <td><%= registry.iecas_adherido %></td>
        <td><%= registry.iecas_titulacion %></td>
        <td><%= registry.araii_actual %></td>
        <td><%= registry.araii_adherido %></td>
        <td><%= registry.araii_titulacion %></td>
        <td><%= registry.mra_actual %></td>
        <td><%= registry.mra_adherido %></td>
        <td><%= registry.mra_titulacion %></td>
        <td><%= registry.diureticos_actual %></td>
        <td><%= registry.diureticos_adherido %></td>
        <td><%= registry.diureticos_titulacion %></td>
        <td><%= registry.ivabradina_actual %></td>
        <td><%= registry.ivabradina_adherido %></td>
        <td><%= registry.ivabradina_titulacion %></td>
        <td><%= registry.visita_seguimiento %></td>
        <td><%= registry.encargado_visita %></td>
        <td><%= registry.dias_despues_alta %></td>
        <td><%= registry.llenado_formato_autoseguimiento %></td>
        <td><%=l registry.created_at, format: :long %></td>
        <td>
          <%= link_to registry_path(registry), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to registry_path(registry), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_registry_path,
            :class => 'btn btn-primary' %>
