<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @registry.codigo %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @registry.edad %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @registry.genero %>
</p>

<p>
  <strong>Etilogia:</strong>
  <%= @registry.etilogia %>
</p>

<p>
  <strong>Frac eyeccion:</strong>
  <%= @registry.frac_eyeccion %>
</p>

<p>
  <strong>Imc:</strong>
  <%= @registry.imc %>
</p>

<p>
  <strong>Hemoglobina:</strong>
  <%= @registry.hemoglobina %>
</p>

<p>
  <strong>Creatinina:</strong>
  <%= @registry.creatinina %>
</p>

<p>
  <strong>Bnp:</strong>
  <%= @registry.bnp %>
</p>

<p>
  <strong>Pro bnp:</strong>
  <%= @registry.pro_bnp %>
</p>

<p>
  <strong>Eac:</strong>
  <%= @registry.eac %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @registry.diabetes %>
</p>

<p>
  <strong>Irc:</strong>
  <%= @registry.irc %>
</p>

<p>
  <strong>Epoc:</strong>
  <%= @registry.epoc %>
</p>

<p>
  <strong>Acv:</strong>
  <%= @registry.acv %>
</p>

<p>
  <strong>Fa:</strong>
  <%= @registry.fa %>
</p>

<p>
  <strong>Pas mmhg:</strong>
  <%= @registry.pas_mmhg %>
</p>

<p>
  <strong>Pad mmhg:</strong>
  <%= @registry.pad_mmhg %>
</p>

<p>
  <strong>Fc:</strong>
  <%= @registry.fc %>
</p>

<p>
  <strong>Clase funcional nyha:</strong>
  <%= @registry.clase_funcional_nyha %>
</p>

<p>
  <strong>Betabloqueador:</strong>
  <%= @registry.betabloqueador %>
</p>

<p>
  <strong>Anticoagulacion:</strong>
  <%= @registry.anticoagulacion %>
</p>

<p>
  <strong>Iecas:</strong>
  <%= @registry.iecas %>
</p>

<p>
  <strong>Ara ii:</strong>
  <%= @registry.ara_ii %>
</p>

<p>
  <strong>Mra:</strong>
  <%= @registry.mra %>
</p>

<p>
  <strong>Diureticos:</strong>
  <%= @registry.diureticos %>
</p>

<p>
  <strong>Ivabradina:</strong>
  <%= @registry.ivabradina %>
</p>

<p>
  <strong>Material educativo:</strong>
  <%= @registry.material_educativo %>
</p>

<p>
  <strong>Charla informativa:</strong>
  <%= @registry.charla_informativa %>
</p>

<p>
  <strong>Programa seguimiento:</strong>
  <%= @registry.programa_seguimiento %>
</p>

<p>
  <strong>Encargado segiumiento:</strong>
  <%= @registry.encargado_segiumiento %>
</p>

<p>
  <strong>Formato autoseguramiento paciente:</strong>
  <%= @registry.formato_autoseguramiento_paciente %>
</p>

<p>
  <strong>Instalo app:</strong>
  <%= @registry.instalo_app %>
</p>

<p>
  <strong>Lista verificacion medidas:</strong>
  <%= @registry.lista_verificacion_medidas %>
</p>

<p>
  <strong>Registry type:</strong>
  <%= @registry.registry_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @registry.user %>
</p>

<p>
  <strong>Betabloqueador actual:</strong>
  <%= @registry.betabloqueador_actual %>
</p>

<p>
  <strong>Betabloqueador adherido:</strong>
  <%= @registry.betabloqueador_adherido %>
</p>

<p>
  <strong>Betabloqueador titulacion:</strong>
  <%= @registry.betabloqueador_titulacion %>
</p>

<p>
  <strong>Anticoagulacion indicada:</strong>
  <%= @registry.anticoagulacion_indicada %>
</p>

<p>
  <strong>Anticoagulacion adherido:</strong>
  <%= @registry.anticoagulacion_adherido %>
</p>

<p>
  <strong>Iecas actual:</strong>
  <%= @registry.iecas_actual %>
</p>

<p>
  <strong>Iecas adherido:</strong>
  <%= @registry.iecas_adherido %>
</p>

<p>
  <strong>Iecas titulacion:</strong>
  <%= @registry.iecas_titulacion %>
</p>

<p>
  <strong>Araii actual:</strong>
  <%= @registry.araii_actual %>
</p>

<p>
  <strong>Araii adherido:</strong>
  <%= @registry.araii_adherido %>
</p>

<p>
  <strong>Araii titulacion:</strong>
  <%= @registry.araii_titulacion %>
</p>

<p>
  <strong>Mra actual:</strong>
  <%= @registry.mra_actual %>
</p>

<p>
  <strong>Mra adherido:</strong>
  <%= @registry.mra_adherido %>
</p>

<p>
  <strong>Mra titulacion:</strong>
  <%= @registry.mra_titulacion %>
</p>

<p>
  <strong>Diureticos actual:</strong>
  <%= @registry.diureticos_actual %>
</p>

<p>
  <strong>Diureticos adherido:</strong>
  <%= @registry.diureticos_adherido %>
</p>

<p>
  <strong>Diureticos titulacion:</strong>
  <%= @registry.diureticos_titulacion %>
</p>

<p>
  <strong>Ivabradina actual:</strong>
  <%= @registry.ivabradina_actual %>
</p>

<p>
  <strong>Ivabradina adherido:</strong>
  <%= @registry.ivabradina_adherido %>
</p>

<p>
  <strong>Ivabradina titulacion:</strong>
  <%= @registry.ivabradina_titulacion %>
</p>

<p>
  <strong>Visita seguimiento:</strong>
  <%= @registry.visita_seguimiento %>
</p>

<p>
  <strong>Encargado visita:</strong>
  <%= @registry.encargado_visita %>
</p>

<p>
  <strong>Dias despues alta:</strong>
  <%= @registry.dias_despues_alta %>
</p>

<p>
  <strong>Llenado formato autoseguimiento:</strong>
  <%= @registry.llenado_formato_autoseguimiento %>
</p>

<%= link_to 'Edit', edit_registry_path(@registry) %> |
<%= link_to 'Back', registries_path %>
